<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="_livros.length == 0">
    <ion-label> Nenhum livro cadastrado</ion-label>
  </ion-item>
  <ion-list *ngIf="_livros.length > 0">
    <ion-item *ngFor=" let livro of _livros" button (click)="_visualizar(livro)">
      <ion-thumbnail slot="start">
        <img *ngIf=" !livro.getImagem()"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        <img *ngIf=" livro.getImagem()" [src]="livro.getImagem()">
      </ion-thumbnail>
      <ion-label>
        <h2> {{livro.getTitulo()}} </h2>
        <h5> Autor: {{livro.getAutor()}} </h5>
        <h5> Quantidade: {{livro.getQuantidade()}}</h5>
      </ion-label>

    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="_cadastrar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>